<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
</head>
<body>
    <h1>Leaderboard</h1>
    <table>
        <thead>
            <tr>
                <th>Artist Name</th>
                <th>User</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            {% for row in leaderboard_data %}
            <tr>
                <td>{{ row[0] }}</td> 
                <td>{{ row[1] }}</td> 
                <td>{{ row[2] }}</td> 
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
